<div class="sidebar">
  <img src="{{ '/assets/images/usuario.png' | relative_url }}" alt="Your Photo">
  <h2>{{ site.sidebar.name }}</h2>
  <div class="biomedical-engineer">
    <p><strong>Biomedical Engineer MSc</strong></p>
  </div>
  <p><strong>Bachelor's Degree:</strong> Universidad Europea de Madrid<br>
     <strong>Master's Degree:</strong> Universidad de Zaragoza</p>
  <div class="social-links">
    <p>
      <img src="{{ '/assets/images/icons/marker.png' | relative_url }}" alt="Madrid, España" class="social-icon">
      <a href="https://www.linkedin.com/in/yourprofile">Madrid, España</a>
    </p>
    <p>
      <img src="{{ '/assets/images/icons/email.png' | relative_url }}" alt="Email" class="social-icon">
      <a href="{{ link.url }}">Email</a>
    </p>
    <p>
      <img src="{{ '/assets/images/icons/linkedin.png' | relative_url }}" alt="LinkedIn Icon" class="social-icon">
      <a href="https://www.linkedin.com/in/javier-sainz-villalba-21b6699b/">LinkedIn</a>
    </p>
    <p>
      <img src="{{ '/assets/images/icons/github.png' | relative_url }}" alt="GitHub Icon" class="social-icon">
      <a href="https://github.com/yourprofile">GitHub</a>
    </p>
  <ul>
    <li><strong>Email:</strong> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    {% for link in site.sidebar.links %}
      <li><strong>{{ link.label }}:</strong> <a href="{{ link.url }}">{{ link.label }}</a></li>
    {% endfor %}
  </ul>
</div>
