body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 1em 2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2em;
  font-family: 'Lobster', cursive;
}

header h1 a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

header h1 a:hover {
  color: #007bff;
}

header nav {
  margin-left: 20px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin: 0 5px;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  background: #fff;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
  background: #007bff;
  color: #fff;
  transform: scale(1.05);
}

.content {
  display: flex;
  margin: 20px;
  flex: 1;
}

aside {
  background: #fff;
  padding: 20px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-shrink: 0;
  margin-right: 20px;
  color: #333;
}

aside img {
  max-width: 100%;
  border-radius: 3%;
  display: block;
  margin: 0 auto 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Mantener el sombreado para la imagen */
}

aside h2 {
  margin-top: 0;
  text-align: center;
}

.sidebar img.corner-image {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
  z-index: 10; /* Asegúrate de que se superponga a otros elementos */
  margin: 0px 0px 0px 0px;
}

.biomedical-engineer {
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #d7d7d7;
  padding: 0px;
  border-radius: 6px;
  margin-bottom: 0px;
  line-height: 0;
  box-shadow: none; /* Eliminar el sombreado */
  transition: color 0.3s ease;
}

.biomedical-engineer a {
  color: #333;
  text-decoration: none;
  padding: 8px 6px;
  border-radius: 5px;
  background: #fff;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.biomedical-engineer a:hover {
  background: #007bff;
  color: #fff;
  transform: scale(1.05);
}

.social-links p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.social-links img.social-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  box-shadow: none; /* Eliminar el sombreado */
}

.social-links a {
  color: #333; /* Color negro por defecto */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s ease; /* Transición de color */
}

.social-links a:hover {
  color: #007bff; /* Cambiar a azul al pasar el ratón */
}

main {
  flex: 1;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background: #fff;
  color: #333;
  text-align: center;
  padding: 0.5em 0;
  font-size: 0.8em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  bottom: 0;
  width: 100%;
}

