body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #fafafa;
  line-height: 1.55;
  background: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  overflow: hidden; /* Oculta el desbordamiento en el cuerpo */
}

header {
  display: flex;
  align-items: center;
  background: #1E1E1F;
  padding: 0.5em 1.2em;
  width: 950px;
  border-radius: 0px 0px 10px 0px;
  height: 40px;
  border: 1px solid #383838;
}

header h1 {
  margin: 0;
  font-size: 2em;
  font-family: 'Lobster', cursive;
}

header h1 a {
  color: #FDCA65;
  text-decoration: none;
  transition: color 0.3s ease;
}

header h1 a:hover {
  color: #FAFAFA;
}

header nav {
  margin-left: 20px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin: 0 0px;
}

header nav ul li a {
  color: #FAFAFA;
  text-decoration: none;
  padding: 7px 20px 7px 20px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
  font-size: 1.1em;
}

header nav ul li a:hover {
  color: #FDCA65;
  transform: scale(1.05);
}

 c::before {
  content: '';
  display: inline-block;
  width: 10px; /* Ancho del cuadrado */
  height: 10px; /* Alto del cuadrado */
  background-color: #fdca65; /* Color del cuadrado */
  margin-right: 10px; /* Espacio entre el cuadrado y el texto */
  border-radius: 2px; /* Opcional: para redondear los bordes del cuadrado */
}

.content {
  display: flex;
  margin: 15px;
  flex: 1;
  overflow: hidden; /* Oculta el desbordamiento en el contenedor principal */
}

main.scrollable-content {
  flex: 1;
  padding: 0px;
  background: #121212;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 10px;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

aside {
  background: #1E1E1F;
  padding: 15px 15px 10px 15px;
  width: 280px;
  height: 605px; /* Ocupa toda la altura de la ventana */
  border-radius: 10px;
  flex-shrink: 0;
  margin-top: 5px;
  color: #fafafa;
  position: sticky; /* Mantiene el aside fijo al hacer scroll */
  top: 0;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  border: 1px solid #383838;
  font-size: 18px;
}

aside img {
  max-width: 100%;
  border-radius: 3%;
  display: block;
  margin: 0 auto 30px auto;
}

aside h2 {
  margin-top: 0;
  text-align: center;
}

.sidebar img.corner-image {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 130px; /* Ajusta el tamaño de la imagen según sea necesario */
  z-index: 10; /* Asegúrate de que se superponga a otros elementos */
  margin: 0px 0px 0px 0px;
}

.biomedical-engineer {
  text-align: center;
  font-size: 1.2em;
  border: none;
  padding: 0px;
  border-radius: 6px;
  margin-bottom: 30px;
  line-height: 0;
  box-shadow: none; /* Eliminar el sombreado */
  transition: color 0.3s ease;
}

.biomedical-engineer a {
  color: #fdca65;
  text-decoration: none;
  padding: 4px 6px;
  border-radius: 5px;
  background: #353536;
}

.biomedical-engineer a:hover {
  color: #fdca65;
}

.social-links p {
  display: flex;
  align-items: center;
  margin: 0px 0;
}

.social-links img.social-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  box-shadow: none; /* Eliminar el sombreado */
  border: 0px;
}

.social-links a {
  color: #fafafa;
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s ease; /* Transición de color */
}

.social-links a:hover {
  color: #FDCA65; /* Cambiar a azul al pasar el ratón */
}

a {
  color: #fdca65;
  text-decoration: none;
}

/* Estilos para la página de inicio */
/* Añadir a style.css */
.research-interests-container {
  margin-top: 10px;
  text-align: left;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  background: #1e1e1f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 240px;
  border: 1px solid #383838;
}

.research-interests-container h2 {
  margin-top: 0;
}

.research-interests-container h2::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #fdca65;
  border-radius: 10px;
}

.research-interests-container ul {
  list-style-type: none;
  padding: 0;
}

.research-interests-container ul li {
  padding: 1px 1px 1px 10px;
  margin-bottom: 4px;
  border-radius: 5px;
  color: #fafafa;;
}
.research-interests-container ul li::before {
  content: '';
  display: inline-block;
  width: 10px; /* Ancho del cuadrado */
  height: 10px; /* Alto del cuadrado */
  background-color: #fdca65; /* Color del cuadrado */
  margin-right: 10px; /* Espacio entre el cuadrado y el texto */
  border-radius: 2px; /* Opcional: para redondear los bordes del cuadrado */
}

.home-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-column {
  flex: 1;
  margin-right: 20px;
}

.right-columns {
  flex: 2;
  display: flex;
  flex-direction: column;
  background: #121212;
}

.projects-column {
  background: #1e1e1f;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #383838;
  font-size: 18px;
}
.publications-column {
  background: #1e1e1f;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15px;
  border: 1px solid #383838;
}

.projects-column ul, .publications-column ul {
  list-style-type: none;
  padding: 0;
}

.projects-column ul li, .publications-column ul li {
  background: #353536;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.projects-column ul li strong, .publications-column ul li strong {
  color: #fdca65;
}

.projects-column ul li:hover, .publications-column ul li:hover {
  background: #ced4da;
}

.home-intro {
  padding: 15px;
  background: #1e1e1f;
  border-radius: 10px;
  margin: 3px 3px 5px 3px;
  border: 1px solid #383838;
}
.home-section {
  background: #f4f4f4;
  border-radius: 10px;
  margin: 3px 3px 15px 3px;
}

.home-intro p, .home-section p {
  margin: 0 0 10px;
}

.home-intro p strong {
  font-size: 1.2em;
}

.home-section h2 {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 1.5em;
  color: #fafafa;
}

.home-section h2::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #fdca65;
  border-radius: 10px;
}

/* Diseño de cuadrícula para Projects y Research/Publications */
.home-projects-research {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projects, .research-publications {
  flex: 1;
  min-width: 300px;
}

.research-publications {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-research, .home-publications {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 20px 20px 20px;
}

.projects ul, .home-research ul, .home-publications ul {
  list-style-type: none;
  padding: 0;
}

.projects ul li, .home-research ul li, .home-publications ul li {
  background: #e9ecef;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.projects ul li strong, .home-research ul li strong, .home-publications ul li strong {
  color: #007bff;
}

.projects ul li:hover, .home-research ul li:hover, .home-publications ul li:hover {
  background: #ced4da;
}

/* Botón principal */
.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
main {
  flex: 1;
  padding: 0px;
  background: #fff;
  border-radius: 10px;
}

footer {
  background: #1e1e1f;
  color: #fdca65;
  text-align: center;
  font-size: 0.8em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  bottom: 0;
  width: 15%;
  padding: 0px 0px 0px 0px;
  align-self: center;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #383838;
}

/* Añadir al final de tu style.css */
.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  margin-right: 10px; /* Separación a la derecha */
}

.qr-container {
  margin-top: -165px;
  text-align: center;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  margin-left: 175px;
  z-index: 10;
}

.qr-code {
  max-width: 100%;
  height: 138px;
  border: 1px solid #383838;
  border-radius: 10px;
}

.about-me {
  padding: 20px;
  background: #1e1e1f;
  border-radius: 10px;
  border: 1px solid #383838;
  font-size: 18px;
}

/* Añadir al final de tu style.css */
.page-title {
  background-color: #1E1E1F;
  color: #FDCA65;
  padding: 3px 20px;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  right: 18px;
  top: 0px;
  font-size: 1.5em;
  border: 1px solid #383838;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav {
    margin-left: 0;
    margin-top: 10px;
  }

  
 
