<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
</head>

<body>
  <header>
    <h1><a href="{{ site.baseurl | prepend: site.url }}"><strong>{{ site.title }}</strong></a></h1>
    <nav>
      <ul>
        {% for page in site.pages %}
          {% if page.nav %}
            <li><a href="{{ page.url | relative_url }}"><strong>{{ page.title }}</strong></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <!-- Contenedor para el nombre de la página actual -->
    <div id="page-title" class="page-title">
      <strong>{{ page.title }}</strong>
    </div>
  </header>
  <div class="content">
    <div class="sidebar-container">
      <aside>
        {% include sidebar.html %}
      </aside>
      <!-- Nueva sección para el QR debajo del sidebar -->
      <div class="qr-container">
        <img src="{{ '/assets/images/qr.png' | relative_url }}" alt="QR Code" class="qr-code">
      </div>
      <!-- Nueva sección para los Research Interests debajo del QR -->
      
    </div>
    <main class="scrollable-content">
      {{ content }}
    </main>
  </div>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>







